/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
 background-image:var(--bg-image, #000028);
 object-fit: cover;
 object-position: center;
 background-attachment: fixed;
 background-color: #000028;
 color: var(--text-color, #F1B2CE);
 font-family: var(--main-font, sans-serif);
 position: relative; 
 min-inline-size: 375px;
}

.header {
 block-size: 100dvh;
 max-height: 668px;
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 1fr min-content 1fr;
 margin: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
 /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.button-rec {
  position: absolute;
  display: inline-flex;
  top: -1px;
  right: 3px;
  background-color: transparent;
  color: var(--accent-color, #FF0070);
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;

}

.button-rec::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent-color, #FF0070);
  margin-left: 9px;
  margin-top: 7px;
  box-shadow: 0 0 4px 2px var(--accent-color, #FF0070);
  grid-row: 1;
}

.header__theme-menu {
  justify-self: self-end;
  align-self: center;
  

}
.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: fit-content;
  background-color: transparent;
  
}

.header__theme-menu-item {
  background-color: transparent;
  border: none;
  width: 70px;
  height: 26px;
  cursor: pointer;
  align-self: center;
  grid-row: 1 / 1;
  
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--accent-color-button, #FF0070);
  font-family: var(--main-font, sans-serif);
  width: 100%;
  border: none;
  text-align: center;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: 1.5px;
  padding: 0px 13px 5px;
}
.header__theme-menu-button:hover {
  border: 0.2px solid var(--accent-color-transparent, rgba(255, 0, 112, 0.4));
   
}

.header__theme-menu-button:active {
  border: 0.2px solid var(--accent-color-transparent, rgba(255, 0, 112, 0.4));
   
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color-button, #FF0070);

} 

.header__theme-menu-button:focus {
  outline: none;
  border-top: none;
  border-left: none; 
  border-right: none;
  border-bottom: 1px solid var(--accent-color-button, #FF0070);

}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-top: none;
  border-left: none; 
  border-right: none;
  border-bottom: 1px solid var(--accent-color-button, #FF0070);

}


.main-title {
  font-family: var(--main-font, sans-serif);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 80%;
  color: var(--h1-title-color, #db00ff);
  
}

.header .main-title {
  text-shadow: 4px 4px 0  var(--accent-color,#FF0070);
  align-self: center;
  grid-row: 2 / 2;
  padding-bottom: 18px;
}

.decorated-zone {
  position: relative;

}

.decorated-zone::after,
.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  display: inline-block;
  bottom: 20px;
  left: 1px;
  border-left: 2px solid var(--accent-color,#FF0070);
  border-bottom: 2px solid var(--accent-color,#FF0070);
}

.decorated-zone::after {
   display: inline-block;
   top: 1px;
   right: 1px;
   border-right: 1px solid var(--accent-color,#FF0070);
   border-top: 1px solid var(--accent-color,#FF0070);
 }

.description {
  display: block;
  margin-block-start: 40px;
  min-inline-size: 355px;
  grid-row: 3 / 3;
  justify-self: center;
  align-self: self-start;
  
}

.main-content-section {
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.semantic-title { 
  color: var(--accent-color-button, #FF0070);
  font-weight: 600;
  font-size: 18px;
}

.top-heading {
  padding-top: 10px;
  
}

.content-title {
  margin-bottom: 10px;
  margin-top: 20px;
  
}

.middle-section .content-title {
  padding-left: 10px;
}

.bottom-section .title-decor {
  margin-bottom: 0;
}

.title-decor {
  display: inline-block;
  width: 100%;
  font-family:var(--main-font, sans-serif);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #000028;
  background-color: var(--accent-color, #FF0070);
  }

.title-decor-think {
  display: inline-block;
  width: 100%;
  font-family:var(--main-font, sans-serif);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #000028;
  background-color: var(--accent-color, #FF0070) ;
}

.content-text {
  color: var(--text-color, #F1B2CE);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0  var(--accent-color,#FF0070);
}

.text-link:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--text-color);
}

.text-link:focus {
  text-decoration: none;
  outline: 1px solid var(--text-color);
}

.text-link:focus-visible {
  text-decoration: none;
  outline: 1px solid var(--text-color);
}

.content-section .content-title:not(:first-of-type) {
  padding-top: 20px;
  padding-bottom: 10px;
}

.middle-section .content-section .content-text {
  padding-left: 9.5px;
}


.middle-section .content-section:last-child,
.top-section .content-section:last-child {
  padding-bottom: 50px;
}

.bottom-section .content-section:last-child {
  padding-bottom: 30px;
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 375px;
  gap: 10px;
  min-height: 1400px;
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.article .content-title {
  margin-top: 0;
  margin-bottom: 0;

}

.card {
  height: 100%;
  display: block;
}

.card img {
  display: block;
  height: 100%;
  width: 100%;
}

.footer {
  block-size: 100dvh;
  max-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  position: relative;
  margin-top: 30px;
  margin-left: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  margin-right: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  margin-bottom: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.footer .main-title {
  align-self: center;
  justify-self: center;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}


@media (width >= 768px) {
  .page {
    position: relative;
   }

  .header {
    min-height: 984px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr min-content 1fr;
  }

  .button-rec {
   grid-row: 1 / 1;
  }

  .header__theme-menu {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    align-self: center;
    margin-top: 16px;
  }
  .header .main-title {
    margin-left: -20px;
    grid-column: 1;
    grid-row: 2 / 2;
    align-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-top: 18px;

  }

  .semantic-title { 
    margin-bottom: 0;
  }

  .description {
    display: block;
    align-self: center;
    justify-self: end;
    inline-size: 50%;
    grid-row: 3 / 3;
    margin-block-end: 60px;
  }

  .decorated-zone::before {
    display: inline-block;
    bottom: 0px;
    left: 0px;
  
 }

  .main-content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 100%;
    gap: 20px;
  }

  .top-heading {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .top-section {
    grid-column: 2 / 4;
    grid-row: 1 / 1;
  }

  .middle-heading {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  .middle-section {
    grid-column: span 3;
    grid-row: 3 / 3;
  }

  .bottom-heading {
    grid-column: 1 / 1;
    grid-row: 4 / 4;
  }

  .content-heading {
    grid-column: 2 / 3;
    grid-row: 4 / 4;
  }

  .bottom-section {
    grid-column: 2 / 4;
    grid-row: 4 / 4;
  }
  .bottom-section .title-decor {
    margin-bottom: 20px;
    margin-top: 0;
  }
  .content-title:first-child {
    margin-top: 0;
    
  }

  .middle-section .content-title {
    padding-left: 0;
  }

  .middle-section .content-section .content-text {
    padding-left: 0;
  }

  .semantic-title {
    margin-bottom: 0;
    padding-top: 0;
  }
  
  .main-content-section {
     margin-block-start: 60px;
  }
 
  .middle-section .content-section:last-child,
  .top-section .content-section:last-child,
  .bottom-section .content-section:last-child {
    margin-block-end: 10px;
  }

  .bottom-section .content-section:not(:last-child),
  .top-section .content-section:not(:last-child),
  .middle-section .content-section:not(:last-child) {
    padding-bottom: 20px;
  }
 
 .article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    min-height: auto;
    grid-auto-flow: dense;

  }
 .article .content-title {
    margin-bottom: 0px;
    margin-top: 0px;
 }

 .card img {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  }
 .article-heading {
    grid-column: span 3;
    grid-row: span 1 ;
  }

  .top-horizontal {
    grid-column: span 2;
    grid-row: span 1 ;
  }

  .right-vertical {
    grid-column: 3 /3;
    grid-row: span 2;
   
  }

  .left-vertical {
    grid-column: span 1;
    grid-row: span 2;
    
  }

  .center {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
  }

  .bottom-horizontal {
    grid-column: 2 / 4;
    grid-row: 4 / 4;
  }

  .footer {
    min-height: 984px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 70px;
    
  }
  .footer .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
 }

@media (width >= 1024px) {
  .header {
    min-height: 728px;
    margin: 1.25rem;
  }

  .description { 
    margin-top: 53px;   
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25); 

  }

  .main-title {
   align-self: center;

  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    grid-row: 1;
    margin-top: 0;

  }

  .header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: row;
  }

  .article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main-content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 100%;
    gap: 20px;
  }

  .top-heading {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .top-section {
    grid-column: 2 / 4;
    grid-row: 1 / 1;
    
  }
  .middle-heading {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }
   .middle-section .content-section:last-child {
    padding-bottom: 25px;
  }
  .middle-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 100%;
    gap: 20px;
  }
  .middle-content-section:nth-child(1) {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .middle-content-section:nth-child(2) {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

  .middle-content-section:nth-child(3) {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
  }
  .bottom-heading {
    grid-column: 1 / 1;
    grid-row: 4 / 4;
  }

  .bottom-section {
    grid-column: 2 / 4;
    grid-row: 4 / 4;
  }
  
   .footer {
    margin-block-start: 80px;
    min-height: 728px;
   }

}




 
