:root {
 --bg-image: url(../images/cover-image-dark.png);
 --text-color:#F1B2CE ;
 --accent-color: #FF0070;
 --accent-color-transparent: rgba(255, 0, 112, 0.4);
 --main-font: "IBM Plex Mono", sans-serif;
 --accent-font: ;
 --h3-title-color: #000028;
 --h1-title-color: #DB00FF;







}/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
